<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>

        <property name="hibernate.dialect"> org.hibernate.dialect.MySQL8Dialect </property>
        <property name="connection.url">jdbc:mysql://localhost:3306/KinoCMS?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">47Urudag</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="com.kozyrevych.app.model.Cinema"/>
        <mapping class="com.kozyrevych.app.model.Stock"/>
        <mapping class="com.kozyrevych.app.model.FilmHall"/>
        <mapping class="com.kozyrevych.app.model.FreePlace"/>
        <mapping class="com.kozyrevych.app.model.News"/>
        <mapping class="com.kozyrevych.app.model.CurrentFilmData"/>
        <mapping class="com.kozyrevych.app.model.FilmData"/>
        <mapping class="com.kozyrevych.app.model.User"/>
        <mapping class="com.kozyrevych.app.model.MobileApp"/>
        <mapping class="com.kozyrevych.app.model.Image"/>
        <mapping class="com.kozyrevych.app.model.Contacts"/>
        <mapping class="com.kozyrevych.app.model.ChildrensRoom"/>
        <mapping class="com.kozyrevych.app.model.CafeBar"/>
        <mapping class="com.kozyrevych.app.model.Advertising"/>
    </session-factory>
</hibernate-configuration>